/* Графика
----------------------------------------------------------------*/
.feed-img {
	background: transparent url(../img/style/rss.gif) right no-repeat;
}
.sticky-img {
	background: transparent url(../img/style/sticky.png) right no-repeat;
}
.closed-img {
	background: transparent url(../img/style/closed.png) right no-repeat;
}
.poll-img {
	background: transparent url(../img/style/poll.png) right no-repeat;
}
.item-newposts {
	background: transparent url(../img/style/newmas.png) right no-repeat;
	padding-right: 20px;
}
a.wiki {
	background: url(../img/style/external.png) center right no-repeat;
	padding-right: 13px;
}
#new-pm a {
	background: transparent url(../img/style/p_inbox_delivered.png) center left no-repeat;
	padding-left: 18px;
}
.prof {
	background-position: center left;
	background-repeat: no-repeat;
	padding-left: 20px;
}
.inim {
	background-position: left 1px;
	background-repeat: no-repeat;
	padding-left: 17px;
}
.email {
	background-image: url(../img/style/p_email.png);
}
.pm {
	background-image: url(../img/style/p_mail.png);
}
.website {
	background-image: url(../img/style/p_website.png);
}
.jabber {
	background-image: url(../img/style/p_jabber.png);
}
.icq {
	background-image: url(../img/style/p_icq.png);
}
.msn {
	background-image: url(../img/style/p_msn.png);
}
.aim {
	background-image: url(../img/style/p_aim.png);
}
.yahoo {
	background-image: url(../img/style/p_yahoo.png);
}
.skype {
	background-image: url(../img/style/p_skype.png);
}
.magent {
	background-image: url(../img/style/p_magent.png);
}
.vkontakte {
	background-image: url(../img/style/p_vk.png);
}
.classmates {
	background-image: url(../img/style/p_odkl.png);
}
.mirtesen {
	background-image: url(../img/style/p_mirtesen.png);
}
.moikrug {
	background-image: url(../img/style/p_moikrug.png);
}
.browser {
	background-image: url(../img/style/p_browser.png);
}
.ip {
	background-image: url(../img/style/p_ip.png);
}
#bbcode span {
	background: url(../img/style/b_bb.png);
}
#bbcode li img {
	height: 16px;
}
#bt-font span {
	background-position: 0 0;
}
#bt-size span {
	background-position: -16px 0;
}
#bt-bold span {
	background-position: -32px 0;
}
#bt-italic span {
	background-position: -48px 0;
}
#bt-underline span {
	background-position: -62px 0;
}
#bt-strike span {
	background-position: -78px 0;
}
#bt-left span {
	background-position: -95px 0;
}
#bt-center span {
	background-position: -110px 0;
}
#bt-right span {
	background-position: -126px 0;
}
#bt-list span {
	background-position: -142px 0;
}
#bt-link span {
	background-position: -158px 0;
}
#bt-email span {
	background-position: -174px 0;
}
#bt-image span {
	background-position: -190px 0;
}
#bt-video span {
	background-position: -206px 0;
}
#bt-hide span {
	background-position: -222px 0;
}
#bt-spo span {
	background-position: -238px 0;
}
#bt-quote span {
	background-position: -254px 0;
}
#bt-code span {
	background-position: -270px 0;
}
#bt-color span {
	background-position: -286px 0;
}
#bt-smile span {
	background-position: -302px 0;
}
.brd .main-options span.feed a {
	padding-left: 18px;
	padding-top: 3px;
	background-image: url(../img/style/feed.gif);
	background-repeat: no-repeat;
}
.feed-rss {
	background-position: 0 0;
}
.feed-atom {
	background-position: 0 -20px;
}